<?xml version="1.0" encoding="utf-8"?>
<!-- Starts up everything needed to run the example listener/talker nodes. -->
<launch>
  <!-- Dashboard for gamepad -->
  <node pkg="autu_control" type="autu_dashboard" name="autu_dashboard" output="screen"/>
  <!-- Joystick driver -->
   <node pkg="joy" type="joy_node" name="joy_node" output="screen">
    <param name="dev" value="/dev/input/js0"/>
    <param name="max_motorlevel" value="11"/>
    <param name="max_steering" value="35"/>
  </node>
</launch>