<?xml version="1.0" encoding="utf-8"?>
<launch>
	<node pkg="pses_basis" type="car_dashboard" name="car_dashboard" output="screen">
        <!--  allowed params: image_color, image_depth, off -->
        <param name="video_feed" value="off" />
	</node>

	<node pkg="rviz" type="rviz" name="rviz" args="-d $(find autu_control)/launch/rundkurs/viewer.rviz"/>
	
</launch>