<!-- Starts up everything needed to run the example listener/talker nodes. -->
<launch>
  <include file="$(find pses_simulation)/launch/simulation.launch" />
  <!-- The C++ talker node will publish a custom message. -->

  <!-- The C++ listener node subscribes to the custom message that either talker is publishing. -->
  <node pkg="autu_control" type="mapCreation" name="mapCreation" output="screen">
    <remap from="example" to="chatter"/>
  </node>
</launch>
