<?xml version="1.0" encoding="utf-8"?>
<!-- Starts up everything needed to run the example listener/talker nodes. -->
<launch>
  <include file="$(find pses_simulation)/launch/simulation.launch" />
  <!-- The C++ listener node subscribes to the custom message that either talker is publishing. -->
  <node pkg="autu_control" type="rundkursController" name="rundkursController" output="screen">
    <remap from="example" to="chatter"/>
  </node>
</launch>
