<?xml version="1.0" encoding="utf-8"?>
<!-- Starts up everything needed to run the example listener/talker nodes. -->
<launch>
  <include file="$(find pses_basis)/launch/pses_basis.launch" />

<!-- Set static tf transformations -->
  <node pkg="tf" type="static_transform_publisher" name="map_broadcaster" args="0 0 0 0 0 0 1 map odom 10"/>
  <param name="robot_description" textfile="$(find pses_simulation)/data/urdf_model/apollo_13.urdf"/>
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher"/>
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/>


  <node name="depthimage_to_laserscan" pkg="depthimage_to_laserscan" type="depthimage_to_laserscan" > 
  	<remap from="image" to="/kinect2/hd/image_depth_rect"/>
         <param name="output_frame_id" value="scan"/>
  </node>

</launch>
